certifi==2018.8.24
chardet==3.0.4
Django==1.11
django-ckeditor==5.6.1
django-cors-headers==2.4.0
django-js-asset==1.1.0
django-multiselectfield==0.1.8
djangorestframework==3.8.2
et-xmlfile==1.0.1
gunicorn==19.7.1
idna==2.7
instamojo-wrapper==1.1
jdcal==1.4
openpyxl==2.5.5
Pillow==5.2.0
PyPDF2==1.26.0
python-http-client==3.1.0
pytz==2018.4
qrcode==6.0
reportlab==3.5.6
requests==2.19.1
sendgrid==5.4.1
six==1.11.0
urllib3==1.23
XlsxWriter==1.1.0
