<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>WALLET | OASIS'18</title>
    <link rel="shortcut icon" href="{% static 'storewebapp/img/Oasis-Logo.jpg' %}">
    <meta name = "viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<meta charset="utf-8">
	<meta name="copyright" content="Copyright Â© 2018 Department Of Visual Media, BITS Pilani">
	<meta name="author" content="Department Of Visual Media, BITS Pilani">
	<meta name="google-signin-scope" content="profile email">
	<meta name="google-signin-client_id" content="873252659214-md1pcn2npkm82mu269plbogbhc7ap7r2.apps.googleusercontent.com">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="{% static 'storewebapp/plugins/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="{% static 'storewebapp/plugins/node-waves/waves.css' %}" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="{% static 'storewebapp/plugins/animate-css/animate.css' %}" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="{% static 'storewebapp/css/style.css' %}" rel="stylesheet">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="{% static 'storewebapp/js/common.js' %}"></script>
</head>

<body class="login-page" style="background: #e9e9e9">
    <div class="login-box">
        <div class="logo">
            <a href="javascript:void(0);" style="color: #282828">OASIS'18 <b>Wallet</b></a>
            <small style="color: #282828">The Far Out Fest</small>
        </div>
        <div class="card" style="position: absolute; top: 50%; transform: translateY(-50%); width: 360px">
            <div class="body">
                <form id="sign_in" method = "POST">
                    <div class="msg">Sign in</div>
                    <div id = "signin_msg" class='msg'></div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            <input type="text" class="form-control" name="username" placeholder="Username" required autofocus id="username">
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            <input type="password" class="form-control" name="password" placeholder="Password" required id="password"> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button class="btn btn-block bg-pink waves-effect" type="submit">SIGN IN</button>
                        </div>
                    </div>
                </form>
                <a class="btn btn-block bg-pink waves-effect" href="{% url 'storewebapp:bitsian_login' %}">Sign In using BITSMail</a>
            </div>
        </div>
        <div style="position: absolute; bottom: 0; left: 0; right: 0">
            <div style="width: 250px; height: 100px; width: 100%; position: relative; ">
                <a href="https://play.google.com/store/apps/details?id=com.dvm.bits_apogee">
                    <img src="{% static 'storewebapp/img/googleplay.png' %}" style="width: 300px; position: absolute; left: 50%; transform: translateX(-50%)">
                </a>
            </div>
        </div>
    </div>
    <!-- Jquery Core Js -->
    <script src="{% static 'storewebapp/plugins/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core Js -->
    <script src="{% static 'storewebapp/plugins/bootstrap/js/bootstrap.js' %}"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="{% static 'storewebapp/plugins/node-waves/waves.js' %}"></script>

    <!-- Validation Plugin Js -->
    <script src="{% static 'storewebapp/plugins/jquery-validation/jquery.validate.js' %}"></script>
    <!-- Custom Js -->
    <script src="{% static 'storewebapp/js/admin.js' %}"></script>
    <!-- <script src="{% static 'storewebapp/js/pages/examples/sign-in.js' %}"></script> -->
    <script>
        var signinForm = document.getElementById("sign_in");

        signinForm.onsubmit = function (e) {
            e.preventDefault();

            var username = document.getElementById("username").value,
                password = document.getElementById("password").value;

            var signinMsg = document.getElementById("signin_msg");

            var data = {
                username: username,
                password: password,
                is_bitsian: false
            };

            fetch(BASE_URL + "/auth/", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "wallet-token": WALLET_TOKEN
                },
                body: JSON.stringify(data)
            })
            .catch(function (err) {
                // reject("Error while authenticating! Please try opening the app again.");
                signinMsg.classList.add("alert", "alert-danger");
                signinMsg.innerHTML = "Error while authentication! Please try again.";
                console.log(err);
            })
            .then(function(res) { return processResponse(res); })
            .then(function (parsedRes) {
                if (parsedRes.status === 404) {
                    signinMsg.classList.add("alert", "alert-danger");
                    signinMsg.innerHTML = "Please enter a valid username and password";
                }
                else if (parsedRes.status === 400) {
                    signinMsg.classList.add("alert", "alert-danger");
                    signinMsg.innerHTML = parsedRes.json.message;
                }
                else if (parsedRes.status === 200 && parsedRes.json.token) {
                    signinMsg.classList.add("alert", "alert-success");
                    signinMsg.innerHTML = "Successful authentication! Please wait...";
                    window.location.href = "2018/storewebapp/profile";
                    localStorage.setItem("user_token", parsedRes.json.token);
                    localStorage.setItem("user_id", parsedRes.json.user_id);
                    localStorage.setItem("is_bitsian", "0");
                }
                else {
                    signinMsg.classList.add("alert", "alert-danger");
                    signinMsg.innerHTML = parsedRes.json.message;
                }
            });
        }
    </script>
</body>
</html>
<!-- hello -->