{% extends 'storewebapp/base.html' %}
{% load static %}
{% block body %}

<div class="card" style="margin: 15px -15px">
    <div class="header" style="padding: 10px; display: flex; justify-content: space-between; ">
        <h2>
            Wallet ID : <span id = "user-id"></span>
        </h2>
        <h2 id = "qr_toggle" style="color: rgb(15, 154, 201)" onclick="toggleqr(this)">
            Show QR Code
        </h2>
    </div>
    <div class="body">
        <center>
            <h1 style="margin-top: 0; font-weight: 100"><span id = "curr-balance">-</span></h1>
            <h3 style="margin-top: -10px; font-weight: 100">Current Balance</h3>
            <a href="{% url 'storewebapp:add_money' %}" class="btn-success m-l-20 bg-cyan btn-lg waves-effect" style="margin-left: 0">Add Money</a>
        </center>
    </div>
</div>

<div id="qr" class="hidden" style="display: none; margin: 0 -15px 10px -15px; position: relative; height: 300px; justify-content: center;">
    
</div>

<script>
    function toggleqr(element) {
        if(document.getElementById('qr').className == "hidden") {
            document.getElementById('qr').className = "";
            document.getElementById('qr').style.display = "flex";
            element.innerHTML = "Hide QR Code";
        }
        else {
            document.getElementById('qr').className = "hidden";
            document.getElementById('qr').style.display = "none";
            element.innerHTML = "Show QR Code";
        }
    }

</script>

<div class="row clearfix" style="margin: 0 -15px">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card" style="margin: 0 -15px 10px -15px">
            <div class="header" style="padding: 10px">
                <h2>
                    Order Here
                </h2>
            </div>
            <div class="body">
                <div class="table-responsive">
                    
                    <table class="table table-bordered table-striped table-hover dataTable">
                        <thead>
                            <tr>
                                <th>Stall Name</th>
                                <th>Items</th>
                            </tr>
                        </thead>
                        <tbody id = "stalls_list">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="card" style="margin: 0 -15px 10px -15px">
			<div class="header" style="padding: 10px">
				<h2>
					Your Orders
				</h2>
			</div>
			<div class="body">
			  <table id="pending-orders-table">
				<thead>
				  <tr>
					  <th>Item Name</th>
					  <th>Item Price</th>
					  <th>Item Quantity</th>
					  <!-- <th>Status</th> -->
				  </tr>
				</thead>

				<tbody></tbody>
			  </table>
			</div>
		</div>
	</div>
</div> 
<script>
    var userId = localStorage.getItem("user_id"),
        stallsLocalData = {};

    document.getElementById("user-id").innerHTML = userId;

    // fetch profile
    fetch(BASE_URL + "/get-profile/", {
        method: "GET",
        headers: {
            "Content-Type": "application/json",
            "wallet-token": WALLET_TOKEN,
            "authorization": "JWT " + localStorage.getItem("user_token")
        }
    })
    .catch(function (err) {
        console.log(err);
    })
    .then(function (res) {return processResponse(res);})
    .then(function (parsedRes) {
      console.log(parsedRes);
        if (parsedRes.status === 404) {
            console.log(parsedRes.json.message);
        }
        else if (parsedRes.status === 200) {
            // document.getElementById("curr-balance").innerHTML = parsedRes.json.balance;

            localStorage.setItem("qr_code", parsedRes.json.qr_code);

            var qr = qrcode(0, "H");
            qr.addData(parsedRes.json.qr_code);
            qr.make();
            document.getElementById("qr").innerHTML = qr.createImgTag();
        }
    });

    // fetch stalls
    fetch(BASE_URL + "/stalls/", {
        method: "GET",
        headers: {
            "Content-Type": "application/json",
            "wallet-token": WALLET_TOKEN
        }
    })
    .catch(function (err) {
        console.log(err);
    })
    .then(function (res) { return processResponse(res);})
    .then(function (parsedRes) {
        var stalls = parsedRes.json;

        for (var i = 0; i < stalls.length; i++) {
            stallsLocalData[stalls[i].id] = {
                name: stalls[i].name
            };

            var tr = document.createElement("tr");

            var td1 = document.createElement("td");
            td1.innerHTML = stalls[i].name;

            var td2 = document.createElement("td");
            td2.innerHTML = "<a href = '/storewebapp/stalls/"+ stalls[i].id +"/'>View Items</a>";

            tr.appendChild(td1);
            tr.appendChild(td2);

            document.getElementById("stalls_list").appendChild(tr);
        }

        localStorage.setItem("stalls", JSON.stringify(stallsLocalData));
    });

    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyAZFALjneIZUTvOiwlaQVcLDCOzDaoKpnQ",
        authDomain: "oasis-wallet-test.firebaseapp.com",
        databaseURL: "https://oasis-wallet-test.firebaseio.com",
        projectId: "oasis-wallet-test",
        storageBucket: "oasis-wallet-test.appspot.com",
        messagingSenderId: "157934063064"
    };
    firebase.initializeApp(config);

    // Initialize Cloud Firestore through Firebase
    var db = firebase.firestore();

    // Disable deprecated features
    db.settings({
        timestampsInSnapshots: true
    });

    // initial balance fetch
    db.collection("User #" + userId).doc("Balance").get().then(function (snap) {
        var data = snap.data();
        document.getElementById("curr-balance").innerHTML = data.cash + data.instamojo + data.swd + data.transfers;
    });

    // balance real time update
    db.collection("User #" + userId).doc("Balance").onSnapshot(function (snap) {
        var data = snap.data();
        document.getElementById("curr-balance").innerHTML = data.cash + data.instamojo + data.swd + data.transfers;
    });

	/*fetch(BASE_URL + "/get-orders/", {
		headers: {
			"Content-Type": "application/json",
			authorization: "JWT " + localStorage.getItem('user_token'),
			"wallet-token": WALLET_TOKEN
		}	
	})
		.then(function(res) {return processResponse(res);})
		.then(function(parsedRes) {
			// console.log(parsedRes);
			var orders = parsedRes.json.orders;
			var stalls = localStorage.getItem("stalls");

			var stallsObj = JSON.parse(stalls);
			var stallsData = [];
			for(stall in stallsObj) {
				stallsData.push({
					stallId: stall,
					stallName: stallsObj[stall].name,
					pendingOrders: []
				});
			}

			//console.log(stallsData);



			//console.log(orders);
			/*orders.forEach(function(order) {
				order.fragment_ids.forEach(function(fragment) {
					if(fragment.status !== "P" && fragment.status !== "A") return;
				
					var currentStall = stallsData.filter(function(stall){return stall.stallId == fragment.stall_id})[0];

					for(var stallId in order.order){
						if (stallId == fragment.stall_id) {
							order.order[stallId].items.forEach(function(item) {
								//console.log(item);
								var pushable = {
									name: item.name, 
									price: item.price,
									qty : item.qty,
									//status: {A: "Accepted", F: "Finished", P: "Pending", D: "Declined", R: "Ready"}[fragment.status],
									status: "Loading",
									fragmentId : fragment.id,
								}			
								//console.log(pushable);
								currentStall.pendingOrders.push(pushable);
							});	
						}
					}


				});	
			});
			// console.log(stallsData);


			var table = document.querySelector("#pending-orders-table tbody");
			stallsData.forEach(function(stall){

				if(!stall.pendingOrders.length) return;

				var stallHeading = document.createElement('tr');
				stallHeading.classList.add("stall-name-cart");
				var stallHeadingData = document.createElement('th');
				stallHeadingData.setAttribute("colspan", "4");
				var stallHeadingText = document.createTextNode(stall.stallName);
				stallHeadingData.append(stallHeadingText);
				stallHeading.append(stallHeadingData);
				table.append(stallHeading);

				var orderDOMArray = stall.pendingOrders.map(function(order) {
					var tableRow = document.createElement("tr");
					function createTd(name) {
						var td = document.createElement("td");
						td.append(document.createTextNode(name));
						return td;
					}
					tableRow.append(createTd(order.name));
					tableRow.append(createTd(order.price));
					tableRow.append(createTd(order.qty));

					var statusEl = createTd(order.status);
					statusEl.style.fontWeight = "bolder";
					statusEl.style.color = "blue";
					tableRow.append(statusEl);

					order.el = statusEl;

					return tableRow;
				});

				orderDOMArray.forEach(function(el) {table.append(el)});
			});

			stallsData.forEach(function(stall) {
				stall.pendingOrders.forEach(function(order){
					db.collection("User #" + userId).doc("OrderFragment #" + order.fragmentId).onSnapshot(function(snap) {
						var status = snap.data().status;
						order.el.textContent = status;
						var fun = {
							el: order.el, 
							Pending:  function(){this.el.style.color = "#ff6f00"},
							Accepted: function(){this.el.style.color = "#00c853"},
							Declined: function(){this.el.style.color = "#f44336"},
							Finished: function(){this.el.style.color = "#00c853"},
							Ready: function(){this.el.style.color = "#00c853"},
						}[status]();
					});
				})		
			})
			db.collection("User #" + userId)

		})
		.catch(function(err) {console.log(err)});*/

	fetch(BASE_URL + "/get-orders/", {
		headers: {
			"Content-Type": "application/json",
			authorization: "JWT " + localStorage.getItem('user_token'),
			"wallet-token": WALLET_TOKEN
		}	
	}).then(function(res) {return processResponse(res);})
		.then(function(res) {
			function createTd(name) {
				var td = document.createElement("td");
				td.append(document.createTextNode(name));
				return td;
			}
			var table = document.getElementById('pending-orders-table');

			// console.log(res);	
			var orders = res.json.orders;
			// console.log(orders)
			orders.forEach(function(order) {
				var orderObj = order.order;
				order.fragment_ids.forEach(function(fragment){
					//Add the check corresponding to those fragments which are completed
					if(false) return;
					// console.log(fragment);
					var stallHeading = document.createElement("tr");
					stallHeading.classList.add("stall-name-cart");
					var stallHeadingData = document.createElement("th");
					// stallHeadingData.setAttribute("colspan", "3");
					var stallHeadingText = document.createTextNode(fragment.id);
          stallHeadingData.append(stallHeadingText);
          var outerStallStatus = document.createElement("th");
          var stallStatus = document.createElement("span");
          outerStallStatus.append(stallStatus);
          stallStatus.classList.add("badge", "white", "status-span");
          stallStatus.innerHTML = "Loading";

          var otpStuff = document.createElement("th");
          otpStuff.classList.add("otp-stuff");

          stallHeading.append(stallHeadingData);
          stallHeading.append(outerStallStatus);
          stallHeading.append(otpStuff);
					//console.log(stallHeading);
					// console.log(fragment.id);

					table.append(stallHeading);
					orderObj[fragment.stall_id].items.forEach(function(item){
							var tr = document.createElement("tr");
							tr.append(createTd(item.name));
							tr.append(createTd(item.price));
							tr.append(createTd(item.qty));
							table.append(tr);
						});

					db.collection("User #" + userId).doc("OrderFragment #" + fragment.id).onSnapshot(function(snap) {
						//console.log(snap.data());
						var status = snap.data().status;
						//order.el.textContent = status;
						//console.log(status);
						/*var itemsList = snap.data().items_list;
						table.append(stallHeading);
						itemsList.forEach(function(item){
              var tr = document.createElement("tr");
							tr.append(createTd(item.name));
							tr.append(createTd(item.qty));
							table.append(tr);
            })*/

            var fun = {
              el: stallStatus,  
              Pending:  function(){this.el.style.color = "#ff6f00"},
              Accepted: function(){this.el.style.color = "#00c853"},
              Declined: function(){this.el.style.color = "#f44336"},
              Finished: function(){this.el.style.color = "#00c853"},
              Ready: function(){this.el.style.color = "#00c853"},
            }[status]();

            stallStatus.innerHTML = status;
            // stallStatus.style.color = "red";
            if (status.toLowerCase() === "ready") {
              if (snap.data().show_otp) {
                otpStuff.innerHTML = "<span class=\"badge blue white-text\">" + snap.data().otp + "</span>";
              }
              else {
                otpStuff.innerHTML = "<span class=\"badge blue white-text\">Show OTP</span>";

                otpStuff.addEventListener("click", function () {
                  showOtpHandler(snap.data().order, snap.data().stall_id, snap.data().otp);
                })
              }
            }
            else {
              otpStuff.innerHTML = "";
            }

          });

          function showOtpHandler(orderId, stallId, otp) {
            // console.log(WALLET_TOKEN);
              var reqBody = {
                order_id: orderId,
                stall_id: stallId
              };

            	fetch(BASE_URL + "/orders/show-otp/", {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                  "authorization": "JWT " + localStorage.getItem('user_token'),
                  "wallet-token": WALLET_TOKEN
                },
                body: JSON.stringify(reqBody)
              })
              // .then(function(res) {return processResponse(res);})
              .then(function (parsedRes) {
                // console.log(parsedRes);
                if (parsedRes.status === 200) {
                  otpStuff.innerHTML = "<span class=\"badge blue white-text\">"+ otp +"</span>";
                }
                else {
                  Materialize.toast("Some error ocurred! Please contact administrators", 5000);
                }
              })
              .catch(function (err) {
                console.log(err);
              })
          }
				})	
			})
		})
</script>


{% endblock %}
