{% extends "regsoft/base2.html" %}
{% block body %}
<div class="card">
    <div class="header">
        <h2>
            INVENTORY SOFTWARE
        </h2>
    </div>
    <div class="body">
    {% csrf_token %}
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover dataTable">
                <tbody>
                    <tr>
                        <td>Clubs/Departments</a></td>
                        <td><a href="{% url 'regsoft:dc_login' %}" class="waves-effect waves-light btn"> Click Here </a></td>
                    </tr>
                    <tr>
                        <td>Tender</a></td>
                        <td><a href="{% url 'regsoft:tender_home' %}" class="waves-effect waves-light btn"> Click Here </a></td>
                    </tr>
                    <tr>    
                        <td>Mattresses</a></td>
                        <td><a href="{% url 'regsoft:mattress_home' %}" class="waves-effect waves-light btn"> Click Here </a></td>
                    </tr>
                    
                </tbody>
            </table>
            <input type="hidden" value="approve" name="action">
        </div>
    </form>
    </div>
</div>

{% endblock %}