{% extends 'regsoft/base2.html' %}

{% block body %}
{% if messages %}
<div class="body">
{% for message in messages %}
<div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    {{message}}
</div>
{% endfor %}
</div>
{% endif %}
<form method="POST" action="{% url 'regsoft:mattress_new_entry' %}">
    {% csrf_token %}
<div class="row clearfix">
<div class="card">
    <div class="header">
        <h2>
            {{name}} Add Items Form
        </h2>
    </div>
        <label for="location">Location</label>
            <div class="form-group">
                <select class="form-control show-tick" name="location" data-live-search="true">
                    {% for location in locations %}
                        <option value={{location.id}}>{{location}}</option>
                    {% endfor %}
                </select>
            </div>
        <label for="comment">Comments/Remarks</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="text" id="comment" class="form-control" placeholder="Comment" name="comment">
                </div>
            </div>
            <label for="blankets">Number of blankets</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="number" min=0 id="blankets" class="form-control" placeholder="Number of blankets" name="blankets" value=0>
                </div>
            </div>
            <label for="mattresses">Number of mattresses</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="number" min=0 id="mattresses" class="form-control" placeholder="Number of mattresses" name="mattresses" value=0>
                </div>
            </div>
            <label for="pillows">Number of pillows</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="number" min=0 id="pillows" class="form-control" placeholder="Number of pillows" name="pillows" value=0>
                </div>
            </div>
            <label for="spikes">Number of spikes</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="number" min=0 id="spikes" class="form-control" placeholder="Number of spikes" name="spikes" value=0>
                </div>
            </div>
            <label for="bedsheets">Number of bedsheets</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="number" min=0 id="bedsheets" class="form-control" placeholder="Number of bedsheets" name="bedsheets" value=0>
                </div>
            </div>
            <label for="quilts">Number of quilts</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="number" min=0 id="quilts" class="form-control" placeholder="Number of quilts" name="quilts" value=0>
                </div>
            </div>
            <label for="buckets">Number of buckets</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="number" min=0 id="buckets" class="form-control" placeholder="Number of buckets" name="buckets" value=0>
                </div>
            </div>
            <label for="mugs">Number of mugs</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="number" min=0 id="mugs" class="form-control" placeholder="Number of mugs" name="mugs" value=0>
                </div>
            </div>
            <label for="fans">Number of fans</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="number" min=0 id="fans" class="form-control" placeholder="Number of fans" name="fans" value=0>
                </div>
            </div>
            <label for="bulbs">Number of bulbs</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="number" min=0 id="bulbs" class="form-control" placeholder="Number of bulbs" name="bulbs" value=0>
                </div>
            </div>
            <label for="watercampers">Number of Water Campers</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="number" min=0 id="watercampers" class="form-control" placeholder="Number of water campers" name="watercampers" value=0>
                </div>
            </div>
            <label for="waterdrums">Number of water drums</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="number" min=0 id="waterdrums" class="form-control" placeholder="Number of water drums" name="waterdrums" value=0>
                </div>
            </div>
            <label for="waste_drums">Number of Waste Drums</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="number" min=0 id="waste_drums" class="form-control" placeholder="Number of waste_drums" name="waste_drums" value=0>
                </div>
            </div>
            <label for="tables">Number of tables</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="number" min=0 id="tables" class="form-control" placeholder="Number of tables" name="tables" value=0>
                </div>
            </div>
            <label for="table_cloths">Number of table cloths</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="number" min=0 id="table_cloths" class="form-control" placeholder="Number of table cloths" name="table_cloths" value=0>
                </div>
            </div>
            <label for="chairs">Number of chairs</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="number" min=0 id="chairs" class="form-control" placeholder="Number of chairs" name="chairs" value=0>
                </div>
            </div>
            <label for="red_carpets">Number of red carpets</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="number" min=0 id="red_carpets" class="form-control" placeholder="Number of red carpets" name="red_carpets" value=0>
                </div>
            </div>
            <label for="green_carpets">Number of green carpets</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="number" min=0 id="green_carpets" class="form-control" placeholder="Number of green carpets" name="green_carpets" value=0>
                </div>
            </div>
            <label for="curtains">Number of curtains</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="number" min=0 id="curtains" class="form-control" placeholder="Number of curtains" name="curtains" value=0>
                </div>
            </div>
            
            <label for="halogen_lamps">Number of halogen lamps</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="number" min=0 id="halogen_lamps" class="form-control" placeholder="Number of halogen lamps" name="halogen_lamps" value=0>
                </div>
            </div>
            <label for="sodium_lamps">Number of sodium lamps</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="number" min=0 id="sodium_lamps" class="form-control" placeholder="Number of sodium lamps" name="sodium_lamps" value=0>
                </div>
            </div>  
            <label for="tents">Number of tents</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="number" min=0 id="tents" class="form-control" placeholder="Number of tents" name="tents" value=0>
                </div>
            </div>
            <label for="iron_poles">Number of iron poles</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="number" min=0 id="iron_poles" class="form-control" placeholder="Number of iron poles" name="iron_poles" value=0>
                </div>
            </div>
            <label for="paper_rolls">Number of paper rolls</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="number" min=0 id="paper_rolls" class="form-control" placeholder="Number of paper rolls" name="paper_rolls" value=0>
                </div>
            </div>
            <label for="bamboo_poles">Number of bamboopoles</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="number" min=0 id="bamboo_poles" class="form-control" placeholder="Number of bamboo poles" name="bamboo_poles" value=0>
                </div>
            </div>
            <label for="ropes">Number of ropes</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="number" min=0 id="ropes" class="form-control" placeholder="Number of ropes" name="ropes" value=0>
                </div>
            </div>
            <label for="wires">Number of wires</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="number" min=0 id="wires" class="form-control" placeholder="Number of wires" name="wires" value=0>
                </div>
            </div>
            <label for="item1">Number of item 1</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="number" min=0 id="item1" class="form-control" placeholder="Number of item 1" name="item1" value=0>
                </div>
            </div>
            <label for="item2">Number of item 2</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="number" min=0 id="item2" class="form-control" placeholder="Number of item 2" name="item2" value=0>
                </div>
            </div>
            <label for="item3">Number of item 3</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="number" min=0 id="item3" class="form-control" placeholder="Number of item 3" name="item3" value=0>
                </div>
            </div>
            <label for="item4">Number of item 4</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="number" min=0 id="item4" class="form-control" placeholder="Number of item 4" name="item4" value=0>
                </div>
            </div>
            <label for="item5">Number of item 5</label>
            <div class="form-group">
                <div class="form-line">
                    <input type="number" min=0 id="item5" class="form-control" placeholder="Number of item 5" name="item5" value=0>
                </div>
            </div>
            

            <br>
            <button type="submit" class="btn btn-primary m-t-15 waves-effect">Add</button>
        </div>
    </div>
</div>
</div>
</form>
{% endblock %}