{% extends 'wordwars/base.html' %}
{% block body %}
	<div class="row">
		<div class="container">
			<div class="card-panel contact">
				<h1><center>Contact</center></h1>
				<div class="row">
				<div class="col sm12 m6 l6">
				<div class="card bbb">
					<div class="card-content">
	<div class="card-title">For queries related to quiz format and questions</div>

Nimisha Jain<br>
+91-9414177993<br>
Prakhar Munde<br>
+91-9131832851<br>
Reetik Ranjan<br>
+91-7209616532<br>
</div>
</div>
</div>
<div class="col sm12 m6 l6">
<div class="card bbb">
<div class="card-content">
<div class="card-title">For queries related to online interface</div>
Sanchit Ahuja<br>
+91-8699018008<br>

</div>
</div>
</div>
</div>

			</div>
		</div>
	</div>
{% endblock %}